@font-face {
  font-family: "Proxima Vara";
  src: url("/fonts/proxima_vara.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

i,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Proxima Vara", sans-serif;
}
