/*
 * Laserwave Theme originally by Jared Jones for Visual Studio Code
 * https://github.com/Jaredk3nt/laserwave
 *
 * Ported for PrismJS by Simon Jespersen [https://github.com/simjes]
 */

code[class*="language-"],
pre[class*="language-"] {
  background: #27212e;
  color: #ffffff;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; /* this is the default */
  /* The following properties are standard, please leave them as they are */
  font-size: 1em;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  /* The following properties are also standard */
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  background: #eb64b927;
  color: inherit;
}

code[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  background: #eb64b927;
  color: inherit;
}

/* Properties specific to code blocks */
pre[class*="language-"] {
  padding: 1em; /* this is standard */
  margin: 0.5em 0; /* this is the default */
  overflow: auto; /* this is standard */
  border-radius: 0.5em;
}

/* Properties specific to inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.2em 0.3em;
  border-radius: 0.5rem;
  white-space: normal; /* this is standard */
}

.hljs-comment,
.hljs-prolog,
.hljs-cdata {
  color: #91889b;
}

.hljs-punctuation {
  color: #7b6995;
}

.hljs-builtin,
.hljs-constant,
.hljs-boolean {
  color: #ffe261;
}

.hljs-number {
  color: #b381c5;
}

.hljs-important,
.hljs-atrule,
.hljs-property,
.hljs-keyword {
  color: #40b4c4;
}

.hljs-doctype,
.hljs-operator,
.hljs-inserted,
.hljs-tag,
.hljs-class-name,
.hljs-symbol {
  color: #74dfc4;
}

.hljs-attr-name,
.hljs-function,
.hljs-deleted,
.hljs-selector {
  color: #eb64b9;
}

.hljs-attr-value,
.hljs-regex,
.hljs-char,
.hljs-string {
  color: #b4dce7;
}

.hljs-entity,
.hljs-url,
.hljs-variable {
  color: #ffffff;
}

/* The following rules are pretty similar across themes, but feel free to adjust them */
.hljs-bold {
  font-weight: bold;
}

.hljs-italic {
  font-style: italic;
}

.hljs-entity {
  cursor: help;
}

.hljs-namespace {
  opacity: 0.7;
}
